.shoppingcart {
	display: none;
}
.showcart {
	display: block;
}
.shoppingcartcontainer {
	background-color: rgb(245, 245, 245);
	width: 300px;
	min-height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.575);
	padding: 5px 10px;
	z-index: 999;
	overflow-y: auto;
}
.cartbackground {
	background-color: rgb(0, 0, 0);
	opacity: 0.4;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}
.closebtn {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	cursor: pointer;
}
.closebtn p {
	padding-top: 5px;
	font-size: 20px;
}
.cartitems {
	padding-top: 20px;
}
.cartitems section {
	position: relative;
	display: flex;
	padding: 10px 5px;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 1px 1px 20px rgba(34, 34, 34, 0.185);
}

.imagecontainer {
	border-radius: 12px;
	object-fit: cover;
}
.item_info {
	padding-left: 10px;
}
.item_info p {
	font-size: 15px;
}
.item_info h3 {
	padding: 5px 0;
}
.item_info span {
	font-weight: bold;
	font-size: 18px;
	color: gray;
	margin-right: 10px;
}
.item_info .count {
	display: flex;
	align-items: center;
}
.item_info .count button {
	padding: 5px 8px;
	border: none;
	margin-left: 2px;
	cursor: pointer;
	background-color: var(--main-color-mid-opacity);
}
.item_info .count button:active {
	background-color: var(--main-color-low-opacity);
}
.delete_btn {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}
.cart_footer {
	border-top: solid 2px rgb(121, 121, 121);
	margin-top: 15px;
	padding: 15px 0;
}
.cart_footer button {
	padding: 15px;
	margin: 15px 0;
	border: none;
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
	outline: none;
	width: 100%;
}
.cart_footer button:active {
	background-color: var(--main-color-mid-opacity);
}
