.container {
	width: 100%;
}
.countProducts p {
	background-color: rgb(243, 243, 243);
	display: inline-block;
	padding: 5px;
	border-radius: 12px;
	margin: 0 0 12px 0;
}
.product_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	margin-bottom: 10px;
	background-color: rgb(243, 243, 243);
	transition: background-color 0.3s;
}
.product_card:hover {
	background-color: hsl(0, 0%, 89%);
}
.product_card_info {
	display: flex;
	align-items: center;
	gap: 20px;
}
.product_card img {
	width: 80px;
	height: 110px;
	object-fit: cover;
	border-radius: 12px;
	margin-right: 30px;
}
.product_card button {
	border-radius: 12px;
	border: none;
	padding: 10px;
	background-color: rgb(252, 74, 74);
	cursor: pointer;
	margin-right: 5px;
	color: white;
	transition: background-color 0.3s;
}
.product_card button:hover {
	background-color: rgb(235, 47, 47);
}
